WHEEL_MODEL_PATH=./app/models/yolo26_seg_best.pt
TRACK_MODEL_PATH=./app/models/best_track.pt
YOLO_CONFIG_DIR="/tmp/Ultralytics"
CAR_MODEL_PATH=./app/models/best_cars.pt
CAR_MODEL_CONF=0.5
CAR_MODEL_IOU=0.7
CAR_CLASS_NAMES=car,cars,vehicle,formula,formula4